* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ================= GLOBAL USER ELEMENTS ================= */
/* FEEDBACK MODAL */
.feedback-modal {
    width: 500px;
    position: relative;
}
.modal-header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--shadow);
}
.feedback-icon {
    width: 50px;
    height: 50px;
    background-color: var(--green);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-icon i {
    font-size: 25px;
    color: var(--white);
}
.modal-header span {
    font-family: 'EB Garamond', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: var(--dark-grey);
}
.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: all 0.3s ease;
    font-size: 24px;
    color: var(--light-grey);
}
.modal-close:hover {
    background-color: var(--dark-grey);
    color: var(--white);
}
.feedback-modal h2 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'EB Garamond', sans-serif;
    color: var(--dark-grey);
}
.feedback-modal p {
    font-size: 16px;
    color: var(--grey);
    font-family: 'Inter', sans-serif;
}
#feedbackForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.star-rating {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.star-rating span {
    font-size: 80px;
    color: var(--shadow);
    transition: color 0.2s ease;
}
.star-rating span.selected,
.star-rating span.hover {
    color: gold;
}
#feedbackForm textarea {
    width: 100%;
    height: 250px;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid var(--shadow);
    background-color: var(--dirty-white);
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease;
    outline: none;
    resize: none;
}
#feedbackForm textarea:focus {
    border-color: var(--green);
    background-color: var(--white);
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
#feedbackForm textarea::placeholder {
    color: var(--light-grey);
    font-style: italic;
}
#feedbackForm .modal-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#feedbackForm .modal-buttons button {
    padding: 10px 20px;
    border-radius: 9999px;
    border: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: var(--light-grey);
    color: var(--white);
    transition: all 0.3s ease;
}
#feedbackForm .modal-buttons button:hover {
    background-color: var(--grey);
}
#feedbackForm .modal-buttons button[type="submit"] {
    background-color: var(--green);
}
#feedbackForm .modal-buttons button[type="submit"]:hover {
    background-color: var(--dark-green);
}

/* FLOATING BUTTONS */
.floating-buttons {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    z-index: 999;
}
.float-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: var(--dark-green);
    color: var(--white);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}
.feedback-float-btn:hover {
    background-color: var(--green);
}