# Dependencies
node_modules/

# Enviroment variables
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea
*.swp
*.swo

# Big Image Uploads
/public/shared/images/news-upload/
/public/shared/images/virtual-tour/