body {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Main Content Area */
.content-section {
    padding: 15px 35px;
    overflow-y: auto;
    flex: 1;
}

/* Content Header */
.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--shadow);
}

.content-header h1 {
    color: var(--dark-green);
    letter-spacing: 1px;
    font-size: 22px;
}

/* Button Styles in the Header */
.button-group {
    display: flex;
    gap: 10px;
}

.button {
    border: transparent;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

/* Specific Button Styles */
/* Export CSV Button */
.print-account-report {
    background-color: var(--white);
    color: var(--dark-grey);
    border: 1px solid var(--shadow);
    font-weight: bold;
}

/* Create Account Button */
.create-account-button {
    background-color: var(--dark-green);
    color: var(--white);
    font-weight: 500;
}

/* Filter Group */
.filter-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--shadow);
}

/* Search Box */
.search-box {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 7px 10px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
    gap: 10px;
    color: var(--dark-green);
}

.search-box input {
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
}

/* Entries Count */
.entries-count {
    font-size: 13px;
    color: var(--grey);
}

/* Table Styles */
.table-container {
    margin-top: 10px;
    width: 100%;
    border: 1px solid var(--shadow);
}

/* Accounts List Table */
.accounts-list {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

/* Table Header */
.accounts-list thead {
    background-color: var(--dirty-white);
    text-align: left;
    font-weight: 600;
    color: var(--dark-green);
}

.accounts-list th,
.accounts-list td {
    padding: 12px 15px;
    border-bottom: 1px solid var(--shadow);
}

/* To remove border from last row */
.accounts-list tbody tr:last-child td {
    border-bottom: none;
}

/* Specific text style for time */
.date-display {
    line-height: 1;
}

.date-display .time {
    color: var(--grey);
    font-size: 12px;
}

/* Pagenation Styles */
.pagination-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    padding: 10px 0;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination button {
    border: 1px solid var(--shadow);
    border-radius: 3px;
    background-color: var(--white);
    color: var(--dark-green);
    font-size: 16px;
    font-weight: bold;
    padding: 4px 10px;
}

.pagination button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.pagination .page-number {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-green);
    padding: 4px 10px;
}