/* Button Group Container */
.button-group {
    display: flex;
    gap: 10px;
}
/* Search Bar Style */
/* Search Container */
.search-box {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 7px 10px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
    gap: 10px;
    color: var(--dark-green);
}
/* Search Input Field */
.search-box input {
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
}