/* Button Group Container */
.button-group {
    display: flex;
    gap: 10px;
}
/* Search Bar Style */
/* Search Container */
.search-box {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 7px 10px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
    gap: 10px;
    color: var(--dark-green);
}
/* Search Input Field */
.search-box input {
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
}
/* Filter Group Container */
.filter-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
}
/* Status Filter */
.status-tabs {
    display: flex;
    gap: 5px;
}
.status {
    color: var(--grey);
    border: 1px solid transparent;
    background: transparent;
    padding: 8px 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.status.active {
    font-weight: bold;
    color: var(--dark-green);
    border-bottom: 2px solid var(--dark-green);
}

/* -------------------- FORM STYLE -------------------- */
/* Form Container */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* Form */
form {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
form label {
    color: var(--dark-green);
    font-size: 14px;
    margin-bottom: 5px;
}
form input {
    padding: 10px 10px;
    margin-bottom: 12px;
    border: 1px solid var(--shadow);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    width: 400px;
}
.password-input-wrapper {
    position: relative;
    width: 400px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.password-input-wrapper input {
    width: 400px;
    padding: 10px 40px 10px 10px;
    margin-bottom: 0;
}
.toggle-password {
    position: absolute;
    right: 12px;
    font-size: 20px;
    color: var(--dark-green);
}