/* Button Group Container */
.button-group {
    display: flex;
    gap: 10px;
}
/* Search Bar Style */
/* Search Container */
.search-box {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 7px 10px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
    gap: 10px;
    color: var(--dark-green);
}
/* Search Input Field */
.search-box input {
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
}
/* Filter Group Container */
.filter-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
}
/* Status Filter */
.status-tabs {
    display: flex;
    gap: 5px;
}
.status {
    color: var(--grey);
    border: 1px solid transparent;
    background: transparent;
    padding: 8px 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.status.active {
    font-weight: bold;
    color: var(--dark-green);
    border-bottom: 2px solid var(--dark-green);
}