.main-content h2 {
    font-family: 'Inter', sans-serif;
    color: var(--dark-green);
    font-size: 30px;
}
.main-content p {
    font-family: 'Montserrat', sans-serif;
    color: var(--grey);
    font-style: italic;
    font-size: 14px;
}

/* ================= ACTIONS BAR ================= */
.action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    gap: 10px;
}
/* Search Box */
.search-box {
    display: flex;
    align-items: center;
    width: 300px;
    background: var(--cream);
    border: 1px solid var(--shadow);
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.2s ease;
}
.search-box:focus-within {
    border-color: var(--green);
    background: var(--white);
}
.search-box i {
    font-size: 18px;
    color: var(--light-grey);
    margin-right: 8px;
}
.search-box input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 14px;
    color: var(--grey);
    font-family: "Inter", sans-serif;
}
.search-box input::placeholder {
    color: var(--light-grey);
    font-style: italic;
}
/* Action Buttons */
.buttons {
    display: flex;
    gap: 5px;
}
.buttons button {
    display: flex;
    align-items: center;
    background: var(--white);
    border: 1px solid transparent;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.09);
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.buttons button:hover {
    background-color: var(--grey);
    color: var(--cream);
}
#showCreateAccountModal {
    background-color: var(--green);
    color: var(--white);
    transition: background-color 0.3s ease;
}
#showCreateAccountModal i {
    font-size: 18px;
    margin-right: 5px;
}
#showCreateAccountModal:hover {
    background-color: var(--dark-green);
}

/* ================= SPECIFIC ACCOUNTS TABLE COLUMN WIDTH ================= */
.table th:nth-child(4),
.table td:nth-child(4) {
    width: 150px;
}
.table th:nth-child(5),
.table td:nth-child(5) {
    width: 125px;
}

/* ================= INVITE MODAL ================= */
.invite-modal {
    width: 400px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: var(--dark-grey);
}
.invite-icon {
    width: 60px;
    height: 60px;
    background-color: var(--dirty-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;
}
.invite-icon i {
    font-size: 30px;
    color: var(--dark-green);
}
.invite-modal h2 {
    margin-bottom: 10px;
    color: var(--dark-green);
}
.invite-modal p {
    color: var(--grey);
    margin-bottom: 10px;
}
.invite-modal input {
    width: 100%;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    margin-top: 15px;
    border: 1px solid var(--light-grey);
    outline: none;
    border-radius: 5px;
    font-size: 14px;
}
.invite-modal input:focus {
    border-color: var(--green);
    background-color: var(--white);
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
.invite-modal .modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}
.invite-modal .modal-buttons .btn {
    flex: 1;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: var(--dirty-white);
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: var(--dark-green);
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 14px;
}
.invite-modal .modal-buttons .btn:hover {
    background-color: var(--light-grey);
    color: var(--cream);
}
.invite-modal .modal-buttons .btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
#confirmInviteBtn {
    background-color: var(--green);
    color: var(--cream);
}
#confirmInviteBtn:hover:not(:disabled) {
    background-color: var(--dark-green);
}

/* ================= ACCOUNT CONTEXT MENU ================= */
.account-context-menu {
    font-family: 'Inter', sans-serif;
}
.account-context-menu .menu-item {
    display: flex;
    align-items: center;
    color: var(--dark-grey);
    font-size: 14px;
}
.account-context-menu .menu-item:hover {
    background-color: var(--cream);
}

/* ================= CUSTOM CONTEXT DATE ================= */
.table-date {
    background-color: var(--light-grey);
    color: var(--white);
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 600;
}
.today {
    background-color: var(--green);
}
.yesterday {
    background-color: var(--orange);
}
.week {
    background-color: var(--dark-grey);
}