/* --------------------- Search Bar Style --------------------- */
/* Search Container */
.search-box {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 7px 10px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
    gap: 10px;
    color: var(--dark-green);
    background-color: var(--white);
}
/* Search Input Field */
.search-box input {
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
}
/* -------------------- FORM STYLE -------------------- */
/* Form (Inside the modal) */
form {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
form label {
    color: var(--dark-green);
    font-size: 14px;
    margin-bottom: 5px;
}
form input {
    padding: 10px 10px;
    margin-bottom: 12px;
    border: 1px solid var(--shadow);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    width: 400px;
}