.filter-group input[type='date'] {
    width: 300px;
}
.modal {
    width: 400px;
    color: var(--dark-grey);
}
.modal-header {
    background-color: var(--red);
}
.modal-footer .delete {
    background-color: var(--red);
    color: var(--white);
    font-weight: 600;
}