body {
    display: flex;
    background: url("../images/background.png") center/cover no-repeat fixed;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    padding: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 300px;
}

/* LOGIN HEADER */  
.login-header {
    width: 250px;
    margin: -25px 0 20px;
    text-align: center; 
}

.login-header img {
    width: 250px;
    height: auto;
    margin-bottom: -30px;
}

.login-header h2 {
    font-size: 35px;
    color: var(--dark-green);
    letter-spacing: 5px;
    margin-bottom: -10px;
}

.login-header h3 {
    font-size: 17px;
    color: var(--light-green);
    letter-spacing: 8px;
}

.login-header p {
    margin-top: 10px;
    font-size: 12px;
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
}

/* INPUT FIELDS */
.input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input-box i {
    color: var(--dark-green);
    font-size: 25px;
}

.input-box input {
    border: 1px solid var(--dark-green);
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    width: 200px;
}

/* LOGIN BUTTON */
.login-button {
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: var(--dark-green);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.login-button:hover {
    background-color: var(--light-green);
}