.filter-group .filters {
    flex: 1;
    margin-right: 50px;
    display: flex;
    gap: 10px;
}
.filter-group .filters input,
.filter-group .filters select {
    flex: 1;
    max-width: 250px;
}
/* Details News Image Style */
.detail-content .news-image {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    grid-column: 2;
}
.news-images img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid var(--dark-green);
    cursor: pointer;
    transition: transform 0.2s;
}