body {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Main Content Area */
.content-section {
    padding: 15px 35px;
    overflow-y: auto;
    flex: 1;
}