/* Contains global CSS variables and font imports used throughout the application */
/* This file is shared/accessed between both the admin panel and user-facing site */
/* It defines color schemes and font families */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..900&family=Dancing+Script&family=Great+Vibes&display=swap');

:root {
    --white: #fff;
    --cream: #f5f5f0;
    --dirty-white: #f3f3f5;
    --dirty-green: #e4f1e4;
    --black: #000000;
    --shadow: #e0e0e0;
    --dark-grey: #353535;
    --grey: #545454;
    --light-grey: #9fa0a9;
    /* Other colors */
    --green: #008a3d;
    --light-green: #00c657;
    --dark-green: #00401c;
    --red: #f80504;
    --dark-red: #8a0000;
    --orange: #ff7b00;
}