/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..900&family=Dancing+Script&family=Great+Vibes&display=swap');
/* COLORS */
:root {
    --white: #fff;
    --cream: #f5f5f0;
    --dirty-white: #f5f4f7;
    --shadow: #e0e0e0;
    
    --grey: #545454;
    --light-grey: #9fa0a9;
    --dark-grey: #353535;
    --black: #000000;

    --green: #008a3d;
    --light-green: #00c657;
    --dark-green: #00401c;
    --sage-green: #A5D6A7;

    --red: #f80504;
    --dark-red: #8a0000;

    --orange: #ff7b00;
}