.news-modal {
    width: 80vw;
    height: 50vh;
    min-height: 600px;
    background-color: var(--green);
    border-radius: 25px;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.news-modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: 0.2s;
}
.news-modal-close i {
    font-size: 30px;
    color: var(--white);
}
.news-modal-close:hover {
    background-color: var(--grey);
}
.news-modal-header {
    display: flex;
    padding: 30px 40px 20px;
    gap: 30px;
    border-bottom: 1px solid var(--white);
}
.news-modal-header .news-custom-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-modal-header .news-custom-date h3 {
    display: flex;
    font-family: 'EB Garamond', sans-serif;
    font-style: italic;
    font-size: 36px;
    color: var(--dark-green);
    background-color: var(--white);
    padding: 2px 10px;
}
.news-modal-header .news-custom-date h4 {
    width: 100%;
    text-align: center;
    font-family: 'EB Garamond', sans-serif;
    font-weight: 300;
    color: var(--white);
    background-color: var(--dark-grey);
    padding: 2px 10px;
}
.news-modal-header .news-title-tags {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news-modal-header .news-title-tags h1 {
    text-align: left;
    color: var(--white);
    font-family: 'EB Garamond', sans-serif;
    font-style: italic;
    line-height: 1;
}
.news-modal-header .news-title-tags p {
    display: flex;
    align-items: center;
    text-align: left;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin-top: 10px;
}
.news-modal-header .news-title-tags p i {
    font-size: 20px;
    margin-right: 5px;
}
.news-modal-header .news-title-tags p span {
    margin-right: 30px;
}
.news-modal .news-modal-content {
    display: flex;
    flex-direction: row;
    padding: 30px 40px;
    gap: 30px;
    flex: 1;
    overflow: hidden;
}
.news-modal-content .news-modal-img {
    flex: 1;
    max-height: 100%;
}
.news-modal-content .news-modal-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.news-modal-content .news-modal-details {
    flex: 1.25;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    overflow-y: auto;
    max-height: 100%;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--light-green) transparent;
}
.news-modal-content .news-modal-details::-webkit-scrollbar {
    width: 6px;
}
.news-modal-content .news-modal-details::-webkit-scrollbar-track {
    background: transparent; 
}
.news-modal-content .news-modal-details::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
    border-radius: 10px;
}