<div class="modal-overlay" id="showNewsModal">
    <div class="modal news-modal">
        <button class="news-modal-close">
            <i class='bx bx-x'></i>
        </button>

        <div class="news-modal-header">
            <div class="news-custom-date">
                <h3>12</h3>
                <h4>MAR</h4>
            </div>
            <div class="news-title-tags">
                <h1 class="news-modal-title">DLSU-D joins Study Abroad Fair in Taiwan</h1>
                <p class="news-modal-tags">
                    <i class='bx bx-calendar'></i><span class="news-date">March 14, 2024</span>
                    <i class='bx bx-tag'></i><span class="news-tag">News</span>
                </p>
            </div>
        </div>
        <div class="news-modal-content">
            <div class="news-modal-img">
                <img src="/shared/images/news-upload/arm-post.jpg" id="newModalImage">
            </div>
            <div class="news-modal-details">
                <p>
                    DLSU-D’s Linkages and Scholarship Office recently participated in the Partner Day and Study
                    Abroad Fair organized by Providence University in Taiwan, aiming to enhance the presence of
                    foreign students at DLSU-D through its regular program offerings and exchange programs, with
                    Dr. Sonia Gementiza, Dr. George Francisco, and Mr. Romano Angelico Ebron representing the
                    university, which was the only Philippine institution to present its global initiatives to
                    various foreign institutions during the two-day event that highlighted the university’s
                    internationalization programs, including academic mobility, foreign admissions, and social
                    events among university officials, diplomatic corps, and other stakeholders—Animo La Salle!
                </p>
            </div>
        </div>
    </div>
</div>