* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    background: var(--dirty-white);
}
.form-section {
    display: flex;
    justify-content: center;
    flex: 1;
}

/* Form section */
.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    gap: 2rem;
}
/* Icon */
.brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 500px;
    font-family: 'EB Garamond', sans-serif;
    font-weight: bolder;
    color: var(--dark-grey);
}
.brand img {
    width: 20px;
    height: auto;
}
/* Header */
.login-header {
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    color: var(--black);
}
.login-header h1 {
    font-weight: bolder;
    font-size: 4rem;
    line-height: 0.875;
}
.login-header p {
    margin-top: 0.875rem;
    font-size: 1rem;
    color: var(--grey);
}
/* Error message */
.form-error {
    max-width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -0.5rem 0 0 0.2rem;
    padding: 1rem 1.5rem;
    font-size: 0.75rem;
    font-family: 'Inter', sans-serif;
    color: var(--dark-red);
    background-color: var(--light-red);
    border: 1px solid var(--dark-red);
    border-radius: 8px;
}
.form-error i {
    font-family: 'Inter', sans-serif;
    color: var(--dark-red);
    cursor: pointer;
}
/* Login form */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
}
.form-group {
    position: relative;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border: 1.5px solid var(--light-grey);
    border-radius: 8px;
    transition: border-color 0.3s ease;
}
.form-group label {
    position: absolute;
    padding: 0 0.5rem;
    left: 0.5rem;
    top: 45%;
    transform: translateY(-50%);
    font-size: 0.875rem;
    font-family: 'Inter', sans-serif;
    color: var(--grey);
    pointer-events: none;
    transition: all 0.2s ease;
}
.form-group input {
    width: 100%;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: var(--black);
    border: none;
    outline: none;
    background: transparent;
}
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: -7px;
    transform: translateY(0);
    font-size: 0.7rem;
    color: var(--green);
}
.form-group:focus-within {
    border-color: var(--green);
}
.form-group:focus-within label,
.form-group input:not(:placeholder-shown) + label {
    background: var(--dirty-white);
}
.input-field i {
    color: var(--grey);
    cursor: pointer;
}
/* Forgot link */
.forgot-link {
    text-decoration: none;
    font-size: 0.875rem;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    color: var(--light-grey);
    transition: all 0.5s ease;
}
.forgot-link:hover {
    color: var(--dark-grey);
    text-decoration: underline;
}
/* Login button */
.login-btn {
    width: 300px;
    padding: 12px;
    margin-top: 1rem;
    color: var(--white);
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background: var(--dark-green);
    cursor: pointer;
    transition: background 0.5s ease;
}
.login-btn:hover {
    background: var(--green);
}

/* Image card */
.image-section {
    flex: 0.75;
    min-width: 400px;
    border-radius: 25px;
    background: url('../img/image1.png') center/cover no-repeat;
}

.hidden {
    display: none !important;
}