<aside class="sidebar">
    <!-- Sidebar Toggle Button -->
    <button class="sidebar-toggle" id="sidebarToggle">
        <i class='bx bx-menu'></i>
    </button>

    <!-- Sidebar Logo -->
    <div class="sidebar-logo">
        <img class="logo-icon" src="images/a_system_icon.png">
        <span class="logo-text">
            <h3>Navigate <span>La Salle</span></h3>
            <p>Admin Control</p>
        </span>
    </div>

    <!-- Sidebar Menu Items -->
    <div class="menu-items-wrapper">
        <a href="a_dashboard.html" class="menu-item" title="Dashboard" data-page="dashboard" >
            <i class='bx bx-grid-alt'></i>
            <span>Dashboard</span>
        </a>
        <a href="a_accounts.html" class="menu-item" title="Manage Accounts" data-page="accounts" id="accountsMenu">
            <i class='bx bx-user'></i>
            <span>Accounts</span>
        </a>
        <a href="a_news.html" class="menu-item" title="Manage News" data-page="news" >
            <i class='bx bx-news'></i>
            <span>News</span>
        </a>
        <a href="a_faqs.html" class="menu-item" title="Manage FAQs" data-page="faqs">
            <i class='bx bx-help-circle'></i>
            <span>FAQs</span>
        </a>
        <a href="a_feedbacks.html" class="menu-item" title="See Feedbacks" data-page="feedbacks">
            <i class='bx bx-message-square-dots'></i>
            <span>Feedback</span>
        </a>
        <a href="a_virtual_tour.html" class="menu-item" title="Manage Virtual Tour" data-page="virtual_tour">
            <i class='bx bx-street-view'></i>
            <span>Virtual Tour</span>
        </a>
        <a href="a_interactive_map.html" class="menu-item" title="Manage Interactive Map" data-page="interactive_map">
            <i class='bx bx-map-alt'></i>
            <span>Interactive Map</span>
        </a>

    </div>

    <!-- Sidebar Footer -->
    <div class="sidebar-footer">
        <a href="a_settings.html" class="menu-item" data-page="settings">
            <i class='bx bx-cog'></i>
            <span>Settings</span>
        </a>
        <button id="logoutBtn">
            <i class='bx bx-log-out'></i>
            <span>Logout</span>
        </button>
    </div>
</aside>