<div class="modal-overlay" id="confirmModal">
    <div class="modal confirm-modal">
        <div class="confirm-icon">
            <i class='bx bx-help-circle'></i>
        </div>
        <h2 id="confirmTitle">Confirm Action</h2>
        <p id="confirmMessage">Are you sure you want to proceed?</p>
        <div class="modal-buttons">
            <button class="btn" id="confirmActionBtn">Confirm</button>
            <button class="btn" id="cancelActionBtn">Cancel</button>
        </div>
    </div>
</div>